
.lmj-banner {
    color: black;
    padding: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.lmj-title {
    padding-left: 32px;
}

.lmj-logo {
    height: 45px;
    width: 45px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    padding: 1em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}