

.lmj-plat-item-cover {
    height: 300px;
    width: 300px;
    border-radius: 30px;
}

.lmj-plat-item {
    margin: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
}
